<% if params[:tag].nil? %>
	<% cache ("flickr-sidebar") do %>
		<div class="main">
			<h1 class="my-4 text-center text-lg-left">Most interesting images</h1>
	  		<%= render_popular %>
	  	</div>
	<% end %>
<% else %>
	<% cache ("flickr-sidebar") do %>
        <h1 class="my-4 text-center text-lg-left">Images with tag: <%= params[:tag]%></h1>
	 	<%= render_flickr_sidebar_widget(params[:tag], params[:license], params[:sort]) %>
	<% end %>
<% end %>