// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";

.polaroid-images a
{
	background: white;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px 10px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
    position:relative;	
    display:block;

}
.polaroid-images img { 
	display: block; 
	width: inherit; 
}
.polaroid-images a:after {
	color: #333;
	font-size: 20px;
	content: attr(title);
	position: relative;
	top:15px;
}

.polaroid-images a:nth-child(2n)
{
	-webkit-transform: rotate(4deg);  
	-moz-transform: rotate(4deg); 
	transform: rotate(4deg); 
}
.polaroid-images a:nth-child(3) { 
	-webkit-transform: rotate(-24deg);  
	   -moz-transform: rotate(-24deg); 
   	        transform: rotate(-24deg); 
}
.polaroid-images a:nth-child(4n) { 
	-webkit-transform: rotate(7deg);  
	   -moz-transform: rotate(7deg); 
	        transform: rotate(7deg); 
}
.polaroid-images a:nth-child(5n)
{
	-webkit-transform: rotate(14deg);  
	   -moz-transform: rotate(14deg); 
	        transform: rotate(14deg); 
}
.polaroid-images a:nth-child(7n)
{
	-webkit-transform: rotate(-18deg);  
	-moz-transform: rotate(-18deg); 
	transform: rotate(-18deg); 
}
.polaroid-images a:hover{
	z-index:1000; 
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
        transform: rotate(0deg);
	-webkit-transform: scale(1.5); 
	-moz-transform: scale(1.5);
        transform: scale(1.5);
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
}
body {
	font-family: 'Droid Sans', serif;
	color: #444;
	font-size: 1.6em;
    background: image-url('bbg.jpg');
    
}

.nav-item {
	margin: 0 5px;
}

.form-control {
    background-color: #444;
    color: white;
    border: none;
}

.form-control:hover, .form-control:focus, .dropdown-item:focus {
    background-color: #272727;
    color: #1e90ff;
    border: none;
}
.btn-outline-succes {
	border-color: #1e90ff;
	background-color: transparent;
	color: #1e90ff;
}
.btn-outline-succes:hover {
	border-color: #1e90ff;
	background-color: #1e90ff;
	color: white;
}
.title h1 {
	color: #1e90ff;
	font-family: 'Pacifico', cursive;
}
.title h1:hover {
	text-shadow: 2px 2px 4px #FFF;
}

.bg-darkcolor {
	background-color: #272727;
}
.text-blue {
	color: #1e90ff;
}
.footer {
	clear: left;
	background-color: red;
    display: inline;
}

.prova2 {
	padding: 4% 2% 4% 2%;
	overflow: hidden;
	width: 100%;
}