.flickr ul
{
        list-style-type: none;
        margin: 0;
        padding: 0;
}
.flickr ul li 
{
        border-bottom: 0;
        margin: 0;
        padding: 0;
}

.flickr_photo
{
        width: 150px;
        height: 150px;
        padding: 13px 60px 90px 10px;
        margin: 200;
        background: #fff no-repeat;
        background-image: url(/assets/polaroidframe.png);
        z-index:0;
}