<div class="polaroid-images">
    <% photos.each do |p| %>
    	<% if p %>
                <%= link_to(image_tag(FlickRaw.url_q(p), :class => 'polaroid images', :title => p.title, :border => 0, :size => '150x150'), FlickRaw.url_photopage(p), :title => ([p.title,p.title[0..10]+"..."].min_by {|x| x.length })) %>

        <% end %>
    <% end %>
</div>