<footer class="footer bg-darkcolor text-blue">
    <div class="container">
        <span>&copy;2017 FlickrFeed</span>
        <span class="author">by IsashiMitsui <a href="https://www.github.com/Isashi"><i class="fa fa-github" aria-hidden="true"></i></a></span>
    </div>
</footer>
