<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">
    <img src="/assets/multiplepolaroids.png" width="60" height="60" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">FlickrFeed <span class="sr-only">(current)</span></a>
      </li>
    </ul>


  <li class="nav-item">
    <%= form_tag('/', method: :get, class:"form-inline my-2 my-lg-0") do %>
    <%= text_field_tag :tag, nil, placeholder: "Search photo by a tag", class: "form-control mr-sm-2" %>
  </li>

<li class="nav-item">
  <div class="form-group">
    <select class="form-control" name="license" multiple>
    	<option value="7,9,10" selected="true">Free</option>
    	<option value="1,2">Not Free</option>
  	</select>
  </div>
</li>

<li class="nav-item">
  <div class="form-group">
  	<select class="form-control" name="sort" multiple>
    	<option value="relevance" selected="true">Most relevant</option>
    	<option value="date-post-desc">Most recent</option>
    	<option value="interestingness-desc">Most interesting</option>
  	</select>
  </div>
</li>  
  
<li class="nav-item">
  <div class="form-group">
  	<select class="form-control" name="safe_search" multiple>
    	<option value="1" selected="true">Safe</option>
    	<option value="2">Moderate</option>
    	<option value="3">Restricted</option>
  	</select>
  </div>
</li>  
  
  <%= submit_tag "Search", name: nil, class: "btn btn-outline-success my-2 my-sm-0" %>
  
  <% end %>

  </div>
</nav>